@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

html
{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
    border-radius: 10px;
}
    
::-webkit-scrollbar-track 
{
    border: 0px;
    border-radius: 0px;
}
    
::-webkit-scrollbar-thumb
{
    background: #7b59ec;  
    border-radius: 10px;
}

body
{
    background-color: rgba(16, 23, 41, 1) !important;
}

.nav li
{
    margin-right: 100px;
    margin-left: -100px;
}

.nav li a   
{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    margin-left: 62.5px;
    margin-right: 62.5px;
    font-size: 22px;
    transition: 0.3s;
    margin-top: 15px;   
}

.nav li a:hover
{
    color: #7b59ec !important;
}

a.navbar-brand
{
    padding: 0;
    margin: 0;
    cursor: pointer;
}

a.navbar-brand img
{
    margin-left: 125px;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    max-width: 162vh;
    justify-content: space-between;
    margin-left: 175px;
    margin-top: 90px;
}

.content .info h2
{
    color: #fff;
    font-size: 50px;
    text-transform:  uppercase;
    font-weight: 800;
    max-width: 900px;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span
{
    color: #7b59ec;
    font-size: 50px;
    font-weight: 600;
}

.content .info p
{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    max-width: 850px;
    margin-bottom: 40px;
}

.content .register-btn
{
    color: #fff;
    background-color: rgb(31, 101, 248);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    background-image: linear-gradient(to right, #4718af, #7b59ec);
}

.content .register-btn:hover
{
    background: #fff;
    color: #000;
}

.content .boxform
{
    position: relative;
    margin: 50px 0px;
    border-radius: 10px;
}

.content .boxform h2
{
    color: #000;
    text-align: center;
    font-size: 30px ;
}

.content .smartImg
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .smartImg .backsmartphone
{   
    position: absolute;
    z-index: -1;
    width: 450px;
    height: 700px; 
    margin-right: 20px;
}

.content .smartImg .smartphone
{   
    z-index: 1;
    margin-right: -20px;
}

.content .info .boxform #title #text
{
    color: #4718af;
}

.content .info .boxform #register-confirm
{
    font-weight: 500;
    margin-top: 10px;
    margin-left: -3px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: rgb(31, 101, 248);
    border-radius: 5px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #4718af, #7b59ec);
}

.content .info .boxform #register-confirm:hover
{
    color: #000;
}

.content .info .boxform #register-clear
{
    font-weight: 500;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: rgb(31, 101, 248);
    border-radius: 5px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #f05695, #b25bc6);
}

.content .info .boxform #register-clear:hover
{
    color: #000;
}








